.cc {
    height: 230px;
    border: none;
    background-color: white;
    border-radius: 6px;
    font-weight: bold;
    padding: 16px;
}
.cc1 {
    display: flex;
    text-align: center;
    margin-top: 5px;
    height: 100%;
}
.cc2-1,
.cc2-2 {
    font-weight: bold;
    width: 50%;
    height: 100%;
    text-align: left;
}
.cc3 {
    margin-top: 3px;
    height: 70%;
}
img{
    height: 35px;
    width: 70px;
}