.common-table {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    border-spacing: 0;
    background-color: #FFFFFF;
    border-radius: 10px;
    border-top: 15px solid rgb(247, 95, 95);
  }
  
  .common-table-header-column {
    border-bottom: 1px solid #e8e8e8;
    padding: 0;
    font-size: 5px;
    padding: 10px 5px;
    font-weight: bold;
  }
  
  .common-table-row:hover {
    background-color: #e7e6e6;
    cursor: pointer;
  }
  
  .common-table-column {
    padding: 5px 3px;
    display: flex;
    height: 30px;
    margin-right: 23px;
  }
  .common-table-row{
    display: flex;
    background-color: #FFFFFF;
  }